#root {
  height: 100%;
  padding: 10px;
}

body {
  background: #f3f7fa;  /* fallback for old browsers */
}

.container > div:nth-child(2) {
  height: calc(100% - 45px);
}

.map-container > div {
  height: 100%;
}

.petitions__input {
  width: 100%;
}

.petitions__submit-wrapper {
  text-align: center;
}

.petitions__submit {
  width: 100%;
}
._loading-overlay {
  height: 100%;
}

.petitions-list {
  display: flex;
}

/* .ui.card.petition {
  width: 200px;
} */

.ui.grid > .column.petition-wrapperx {
  width: 250px;
}

.petitions-grid {
  justify-content: center;
}
.chartSegment {
  height: 200px;
}

.ui.progress:first-child {
  margin: 0 0 10px 0;
}
